<!doctype html>
<html>

<head>
  <title>Calculator</title>
  <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
  <link href="/static/calculator.css" rel="stylesheet">
</head>

<body>

<div class="container">

  <div class="form-group">
    <label for="result"></label>
    <input type="text" class="form-control" id="result-display">
  </div>

  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-default" value="clear" id="clear">AC</button> <!-- Returns result displayed to zero -->
    <button type="button" class="btn btn-default" value="negative" id="negative">+/-</button> <!-- Makes number negative (unless zero, if already negative makes num positive) -->
    <button type="button" class="btn btn-default" value="%" id="percentage">%</button>
    <button type="button" class="btn btn-default" value="divide" id="divide">/</button>
  </div><br>

  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-default" value="7" id="7">7</button>
    <button type="button" class="btn btn-default" value="8" id="8">8</button>
    <button type="button" class="btn btn-default" value="9" id="9">9</button>
    <button type="button" class="btn btn-default" value="multiply" id="multiply">*</button>
  </div><br>

  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-default" value="4" id="4">4</button>
    <button type="button" class="btn btn-default" value="5" id="5">5</button>
    <button type="button" class="btn btn-default" value="6" id="6">6</button>
    <button type="button" class="btn btn-default" value="subtract" id="subtract">-</button>
  </div><br>

  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-default" value="1" id="1">1</button>
    <button type="button" class="btn btn-default" value="2" id="2">2</button>
    <button type="button" class="btn btn-default" value="3" id="3">3</button>
    <button type="button" class="btn btn-default" value="add" id="add">+</button> <!-- Adds last number to current result, if pressed again acts as += -->
  </div><br>

  <div class="btn-group btn-group-lg">
    <button type="button" class="btn btn-default" value="0" id="0">0</button>
    <button type="button" class="btn btn-default" value="decimal" id="decimal">.</button>
    <button type="button" class="btn btn-default" value="equals" id="equals">=</button> <!-- Returns current result -->
  </div>

<!--   ToDo:
  -add place to display results/buttons pressed
  -button sizing needs to be uniform -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/calc.js"></script>

{% if g.jasmine_tests %}
    <!-- stuff for testing -->
    <link rel="stylesheet" href="/static/jasmine.min.css">
    <script src="/static/jasmine.min.js"></script>
    <script src="/static/jasmine-html.min.js"></script>
    <script src="/static/boot.min.js"></script>
    <script src="/static/calc-spec.js"></script>
    <script src="/static/calc.js"></script>
    <!-- end of stuff for testing -->
{% endif %}


</body>
</html>